<nav class="navbar navbar-default" ng-controller="navCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">jInterest</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
		<li ng-show="isLoggedIn"><a ng-href="#!/jinterest/jinList">View All Jins</a></li>
	  	<li ng-show="isLoggedIn"><a ng-href="#!/jinterest/imgSearch">Search Images</a></li>
	  	<li ng-show="isLoggedIn"><a ng-href="#!/jinterest/addNewPin">Add New Jin</a></li>
	 	<li ng-show="isLoggedIn"><a ng-href="#!/jinterest/addNewBoard">Add New Board</a></li>
	  	<li ng-show="isLoggedIn"><a ng-href="#!/jinterest/myJinList">My Jin List </a></li>
	  	<li ng-show="isLoggedIn"><a ng-href="#!/logout">Logout</a></li>
		<li ng-show="!isLoggedIn"><a ng-href="#!/login">LogIn</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
