<nav class="navbar navbar-default" ng-controller="navCtrl">

	<h1>jInterest</h1>

	<br />


	<a ng-show="isLoggedIn" href="#!/jinterest/jinList">View All Jins	</a> <br />
	<a ng-show="isLoggedIn" href="#!/jinterest/imgSearch">Search Images	</a> <br />
	<a ng-show="isLoggedIn" href="#!/jinterest/addNewPin">Add New Pin	</a> <br />
	<!-- <a ng-show="isLoggedIn" href="#!/music/list">Link Here</a> <br /> -->
	<a ng-show="isLoggedIn" href="#!/jinterest/myJinList">My Jin List </a> <br />
	<a ng-show="isLoggedIn" href="#!/logout">Logout</a>
	
	<br /><br />

	<!-- <div ng-show="isLoggedIn">
		<input type="text" placeholder="Search jInterest" ng-model="searchText.search" id="searchbar">
	</div> -->

	<br /><br />

</nav>