<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    BOARDS!
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a ng-click="displayUserBoard('')"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Show Your Jins</a></li>
    <li role="separator" class="divider"></li>
    <!-- <li><a href="#!/jinterest/myJinList"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Board</a></li> -->
    <li ng-repeat="board in userBoards"><a ng-click="displayUserBoard(board.id, board.boardName)"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> {{board.boardName}}</a></li>
    <!-- <li><a href="#!/jinterest/myJinList"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> The Last Board</a></li> -->
    
    
  </ul>
</div>  

<h2>Selected Board: {{currentBoard}}</h2>